@keyframes backgroundAnimation {
  0% {
    background-color: $gray5;
  }

  100% {
    background-color: $black;
  }
}

* {
  -webkit-overflow-scrolling: touch;

  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: $gray2;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $gray2;
    opacity: 1;
  }
}

html,
body {
  background-color: $gray3;
  color: $white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
}

html,
body,
.app,
.app-container {
  background-color: $gray3;
  color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.app-container {
  flex-direction: row;
}

main {
  padding: 2rem;
  width: 100%;
}

.player {
  animation: backgroundAnimation 3s ease;
  background-color: $black;
}
